*.o
*.lo
*.la
*.pc
Makefile
src/Makefile
examples/Makefile
doc
examples/imap_remove_msg
examples/imaps_stat
examples/pop3_remove_msg
examples/pop3s_attachment
examples/pop3s_fetch_one
examples/smtp_utf8_qp_msg
examples/smtps_attachment
examples/smtps_simple_msg
*.deps
*.libs
*.dirstamp
stamp-h1
Doxyfile
config.h
config.log
config.status
